<div class="container">
    <div class="row">
        <div class="starter-template">
            <div class="jumbotron">
                <h1> {{title}} </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ex provident corrupti. Libero eos, laudantium perferendis qui dolores vero nam. Id a atque magnam excepturi doloribus earum cupiditate ipsum saepe.</p>
                <p>
                    <a class="btn btn-primary btn-lg" role="button" href="">
							Link 1
						</a>
                    <a class="btn btn-success btn-lg" role="button" href="">
							Link 2
						</a>
                    <a class="btn btn-warning btn-lg" role="button" href="">
							Link 3
					</a>
                </p>
            </div>
        </div>
    </div>
</div>